<h1>Make your form here</h1>
<form action="/articles" method="POST">

<br>
<div>
<label for = "article">  </label>
Article Title: <input type="text" name="title">
Article Content: <input type="text" name="content">
<input type='submit' class="button" value='Submit'>
</br>
</div>
</form>
