<h1><%= @article.title %></h1>
<h1><%= @article.content %></h1>
<form method="POST" action="/articles/<%= @article.id %>">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="DELETE" class="button">
</form> 