<h1>Add a New Article</h1>

<form action="/articles" method="POST">
  <h3><label for="title">Title: <input type="text" name="title"></h2>
  <br>
  <h3><label for="content">Content: </label>
  <textarea id="content" name="content" rows="5" cols="33">
  </textarea></h2>
  <input type="submit" value="Submit">
</form>